.element__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 195px;
}

@media screen and (max-width: 1279px) {
  .element__title {
    max-width: calc(100vw / (1280 / 195));
  }
}

@media screen and (max-width: 1140px) {
    .element__title {
      max-width: calc(100vw / (1280 / 150));
    }
  }