.root__footer {
  margin: 0 auto 60px 200px;
}

/*@media screen and (max-width: 984px) {
  .root__footer  {
    padding: 0 24px 24px;
  }
}
  
@media screen and (max-width: 730px) {
  .root__footer  {
    padding: 0 16px 24px;
  }
}*/